<div>
  <app-todos></app-todos>
  <!-- <table>
    <thead>
      <td>Id</td>
      <td>Name</td>
      <td>Price</td>
      <td>mfg Date</td>
      <td>exp Date</td>
      <td>Avail</td>
    </thead>
    <tbody>
      <tr *ngFor="let p of productList">
        <td>{{ p.id }}</td>
        <td>{{ p.pName }}</td>
        <td>{{ p.pPrice }}</td>
        <td>{{ p.pMfgDate }}</td>
        <td>{{ p.pExpiryDate }}</td>
        <td>{{ p.pAvailabiltyCount }}</td>
      </tr>
    </tbody>
  </table> -->

  <!-- <input type="number" placeholder="number" [(ngModel)]="identity" />
  {{ identity }}
  <button (click)="getById(identity)">ID</button> -->
  <!-- {{ productById.pName }} -->

  <!-- <input type="number" [(ngModel)]="identity" />
  <button (click)="deleteById(identity)">Delete</button>
  <br />
  <br /> -->
  <div>
    <h1>Create Product</h1>
    <form [formGroup]="productForm" (ngSubmit)="insert()" novalidate>
      <div class="form-group">
        <label>id</label>
        <input
          type="number"
          formControlName="id"
          class="form-control"
          maxlength="20"
        />
      </div>
      <div class="form-group">
        <label>P Name</label>
        <textarea class="form-control" formControlName="pName" rows></textarea>
      </div>
      <div class="form-group">
        <label>Price</label>
        <input type="number" formControlName="pPrice" class="form-control" />
      </div>

      <div class="form-group">
        <label>Mfg Date</label>
        <input type="string" formControlName="pMfgDate" class="form-control" />
      </div>

      <div class="form-group">
        <label>Expiry Date</label>
        <input
          type="string"
          formControlName="pExpiryDate"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>avail</label>
        <input
          type="number"
          formControlName="pAvailabiltyCount"
          class="form-control"
        />
      </div>

      <button type="submit">Submit</button>
    </form>
  </div>

  <br />
  <br />
  <br />
  <input type="number" placeholder="number" [(ngModel)]="identity" />
  {{ identity }}
  <button (click)="getById(identity)">ID</button>
</div>

<p>Update</p>
{{ productById.id }}
<div>
  <form (ngSubmit)="update()">
    <div class="form-group">
      <label> id</label>
      <input
        type="number"
        class="form-control"
        id="id"
        [(ngModel)]="productById.id"
        name="id"
      />
    </div>
    <div class="form-group">
      <label>Name</label>
      <input
        type="string"
        class="form-control"
        id="pName"
        [(ngModel)]="productById.pName"
        name="pName"
      />
    </div>

    <div class="form-group">
      <label>Price</label>
      <input
        type="number"
        class="form-control"
        id="pPrice"
        [(ngModel)]="productById.pPrice"
        name="pPrice"
      />
    </div>

    <div class="form-group">
      <label>Mfg Date</label>
      <input
        type="string"
        class="form-control"
        id="pMfgDate"
        [(ngModel)]="productById.pMfgDate"
        name="pMfgDate"
      />
    </div>
    <div class="form-group">
      <label>Exipry Date</label>
      <input
        type="string"
        class="form-control"
        id="pExpiryDate"
        [(ngModel)]="productById.pExpiryDate"
        name="pExpiryDate"
      />
    </div>
    <div class="form-group">
      <label>Avail</label>
      <input
        type="number"
        class="form-control"
        id="pAvailabiltyCount"
        [(ngModel)]="productById.pAvailabiltyCount"
        name="pAvailabiltyCount"
      />
    </div>
    <br />
    <button class="btn btn-success" type="submit">Submit</button>
  </form>
</div>
